:root {
  --primary-color: #a5c4d4;
  --seconday-color: rgba(158, 118, 143, 0.5);
}

body {
  background: var(--primary-color);
}

.main-navbar {
  background-color: var(--seconday-color);
}
.navbar-brand {
  border: 1px solid black;
  padding: 10px;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Raleway", sans-serif;
}

.container {
  margin-top: 80px;
  max-width: 1200px;
}

.container h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.container h1 {
  font-weight: bold;
  font-size: 96px;
}

.container p {
  font-size: 24px;
}

.contact-box {
  background-color: var(--seconday-color);
  padding: 30px 120px;
  margin: 0 200px;
  border-radius: 5px;
}

.contact-box p {
  margin: 0;
}

.btn-main {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  background-color: #9e768f;
  padding: 15px 30px;
  line-height: 27px;
}

.btn-main:hover {
  border: 1px solid #9e768f;
  background: #848c8e;
  color: white;
}
